{% extends "base.html" %}


{% block page-content %}
    <h1>All Prescriptions</h1>
    {% for prescription in prescriptions %}
    <h2>Patient: {{ prescription.user }} - Caregiver: {{ prescription.caregiver}}</h2>
        {% for medication in prescription.medications.all %}
            <li>
            {{ medication.name }} - 
            <a href="{% url 'add_intake_schedule' prescription.id medication.id %}">Add Intake Schedule</a>
            </li>
        {% endfor %}
        <ul>
            <li>
                {% for schedule in schedules %}
                ----------------
                    {% if schedule.prescription == prescription %}
                        <ul>
                            <li>Medication: {{ schedule.medication }}</li>
                            <li>Dose amount: {{ schedule.medication.dosage_amount }} {{ schedule.medication.dosage_type }}</li>
                            <li>{{ medication.dosage_units }}</li>
                        </ul>
                        <h5>Days to take the dose</h5>
                        <ul>
                        {% for day in schedule.days.all %}
                            <li>
                                {{ day.name }}
                                {% for time in schedule.times.all %}
                                    Take at: {{ time.time }}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
