{% extends "base.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block page-content %}
  <div class="bg-logform">
    <div class="container-signinout">
      <img src="{% static 'images/bg-short.png' %}" alt="Background Image" class="d-none d-md-inline-flex">
      <div class="form-container">
        <h2>{% trans "Sign Out" %}</h2>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        {% url 'account_logout' as action_url %}
        <form method="post" action="{{ action_url }}">
          {% csrf_token %}
          {{ redirect_field }}
          <div class="btn-container">
            <button type="submit" class="btn-login">{% trans 'Sign Out' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock page-content %}
