{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block page-content %}
<div class="bg-logform">
  <div class="container-signinout">
    <img src="{% static 'images/bg-short.png' %}" alt="Background Image" class="d-none d-md-inline-flex">
    <div class="form-container">
        <h2>Sign Up</h2>
        <p>
            Already have an account?
            <a href="{% url 'account_login' %}">Sign in</a>
        </p>
        <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-container">
            <button type="submit" class="btn-login">Create an account</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}


