<!--Prettier Ignore-->
{% extends "base.html" %}
<!--Prettier Ignore-->
{% load static %}
<!--Prettier Ignore-->
{% block page-content %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6 mb-2 mt-5">
          <h1 class="display-4 mt-5">Welcome to <span class="text-blue">RemindiCare</span></h1>
          <p>
              <span class="lead">RemindiCare is your essential companion for managing medications.</span><br>
              <span>Easily add and track your medications, ensuring you take the right dose at the right time.<br>
              RemindiCare is designed to help you stay on top of your health and wellness.</span>
          </p>
      </div>
      <div class="col-md-6 mt-5 d-none d-md-inline-flex justify-content-center img-container">
          <img src="{% static 'images/remindicare-home.webp' %}" alt="Remindcare" class="mt-5">
      </div>
      <div class="col-md-12 mt-3">
          <a class="btn btn-orange btn-lg" href="{% url 'account_signup' %}" role="button">Register ></a>
          <a class="btn btn-blue btn-lg mr-3" href="{% url 'account_login' %}" role="button">Login ></a>
      </div>
  </div>
</div>
{% endblock %}