{% load static %}

<footer class="fixed-bottom container-fluid pb-2 pt-2 text-center text-transform-none">
  <div class="row d-flex justify-content-around">
    <!-- Social media -->
    <div class="col-12">
      <a href="#" target="_blank" rel="noopener" aria-label="Policy">
      <span class="text-cream">Policy</span></a>
    </div>
    <!-- Copyright-->
    <div class="col-12 d-flex align-items-center justify-content-center">
      <p class="copyright margin-auto">
       &copy; RemindiCare <span id="copyright">{% now "Y" %}</span>
      </p>
    </div>
  </div>
</footer>