{% load static %}

<head>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href=" {% url 'home' %}">
        <img
          src="{% static 'images/remindicare-logo.png' %}"
          alt="RemindiCare Logo"
          class="logo"
        />
      </a>
      <!-- Toggle for smaller screens-->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa-solid fa-user"></span>
      </button>
      <!-- Nav items -->
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavDropdown"
      >
        <ul class="navbar-nav mb-2">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>
            <div class="dropdown-menu justify-content-end">
              <a class="dropdown-item" href="#">Log In</a>
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Reservations</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>
